.first-time {
    background: rgba(0,0,0,0.8);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.hb-collapse {
    text-align: center;
}

.hb-collapse .hb-collapse-content {
    text-align: initial;
    height: 300px;
    overflow: hidden;
}

.hb-collapse .hb-collapse-content.show {
    height: unset;
}

body {
    padding-bottom: 500px;
}

.clicker-container {
    margin-top: 5rem;
    display: flex;
    justify-content: center;
}

.clicker-zone {
    width: 50%;
    height: 250px;
    background: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    text-align: center;
}

.clicker-zone.started {
    font-size: 4rem;
}    

.timer {
    position: absolute;
    right: 11px;
    top: 0px;
    font-size: 2rem;
}

.card img {
    height: 325px;
    object-fit: cover;
    object-position: top;
}

body {
    margin: 0;
    /* overflow: hidden; */
}

.box {
    background: black;
    height: 30px;
    position: relative;
    width: 30px;
}

.food {
    background: red;
    height: 30px;
    width: 30px;
    position: absolute;
    border-radius: 50%;
}

.d-none {
    display: none;
}

/* ============GDPR============*/

.gdpr-module {
    display: none;
}
.gdpr-module > div {
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: 999999999;
    background: rgba(0, 0, 0, 0.65);
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.gdpr-module .gdpr-module-dialog {
    background: white;
    padding: 40px;
    width: 95%;
    max-width: 700px;
}
.gdpr-module .gdpr-module-content h2 {
    color: #45a6b2;
    margin-bottom: 1.5rem;
    font-family: #95c11f;
}
.gdpr-module .gdpr-module-content p {
    font-size: 0.95rem;
}
.gdpr-module .gdpr-module-content .trackers-choices {
    display: none;
}
.gdpr-module .gdpr-module-content .trackers-choices > div {
    padding-top: 1rem;
    border-top: 1px solid #ccc;
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
}
.gdpr-module .gdpr-module-content .trackers-choices .item .tracker-name {
    position: relative;
    top: 3px;
    margin-left: 10px;
}
.gdpr-module button {
    border: solid 1px #45a6b2;
    border-radius: 2px;
    margin-right: 20px;
    padding: 15px 25px;
}
.gdpr-module .accept-btn {
    background: #45a6b2;
    color: white;
}
.gdpr-module .config-button {
    border-color: black;
}
