body {
    margin: 0;
}

.my-slider img {
    width: 100%;
    object-fit: cover;
    height: 250px;
}

.tns-outer {
    max-width: 100%;
    position: relative;
}

.tns-nav {
    display: flex;
    justify-content: center;
    padding-top: 1.5rem;
}

.tns-nav button {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    border: none;
    margin: 0 2px;
    background: #9c9c9c;
}

.tns-nav button.tns-nav-active {
    background: #444444;
}

.tns-controls {
    width: 100%;
    max-width: 100vw;
    display: flex;
    justify-content: space-between;
    position: absolute;
    left: 0;
    z-index: 9;
    align-items: center;
    height: calc(100% - 44px);
}

.tns-controls button{
    background: black;
    color: white;
    border: none;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    font-size: 1.25rem;
    margin: 0 1rem;
}

.tns-ovh {
    width: 100%;
}